<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>{% block title %} {% endblock title %}</title>
    {% block css %}{% endblock css %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Library</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% block homeActive %}{% endblock homeActive %}" aria-current="page" href="/student">Home</a>
                    </li>
                    <li class="nav-item" >
                        <a id="wishList" class="nav-link {% block wishListActive %}{% endblock wishListActive %}" aria-current="page" href={% url 'wishList' %}>wishlist</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block profileActive %}{% endblock profileActive %}" aria-current="page" href={% url 'profile' %}>profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block issuedActive %}{% endblock issuedActive %}" aria-current="page" href={% url 'issued' %}>Issued Books</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" id="myInput" onkeyup='search()'
                        placeholder="Search" aria-label="Search">
                    {% comment %} <button class="btn btn-outline-success" onclick="search()" type="submit">Search</button> {% endcomment %}
                </form>
                <!-- Button trigger modal -->
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            welcome {{request.user.first_name}}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="message">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>Message : </strong> {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </div>
    <div id="wishlist-msg">
        
    </div>


    </div>
    <script>
        function search() {
            
            let searchText = document.getElementById('myInput');
            if (searchText.value=='') {
                window.location.reload(); 
            }
            // console.log(searchText.value);
            let filter = searchText.value.toUpperCase();
            let tablebody = document.getElementById('tableBody');
            var tr=tablebody.getElementsByTagName('tr');
            console.log(tr)
            let c=0
            for (let i = 0; i < tr.length; i++) {
                const element = tr[i];
                txtValue = element.textContent || element.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    element.style.display = "";
                } else {
                    element.style.display = "none";
                    c++
                }
            }
            
            if (c==tr.length){
                let tablebody = document.getElementById('tableBody');
                tablebody.innerHTML=`<p>your query:<b>${filter}</b> did not match</p>`
            }
        }
    </script>
    <!-- <script src="/js/index.js"></script> -->
    {% block body %} {% endblock body %}
    {% block js %}
    {% endblock js %}
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->

    <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script> -->

</body>

</html>