{% extends 'teacher/base2.html' %}
{% block title %}home{% endblock title %}
{% block issuedBooksActive %}active{% endblock issuedBooksActive %}
{% block body %}
    <!-- add book -->
    <div class="container my-3">
        <!-- issued books -->
        <div id="table" class="my-3">
            <h1>Issued Books</h1>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">student</th>
                        <th scope="col">Issue Date</th>
                        <th scope="col">return Date</th>
                        <th scope="col">Fine</th>
                    </tr>
                </thead>
                <tbody id='tableBody'></tbody>
                {% for book in iBooks %}
                <tr>
                    <td>{{book.book.name}}</td>
                    <td>{{book.user}}</td>
                    <td>{{book.issue_date}}</td>
                    <td>{{book.return_date}}</td>
                    <td>{{book.calculate_fine}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock body %}

{% block js %}
{% endblock js %}